h1 {
    font-family:verdana;
}

p {
    font-family:cursive;
    text-align:center;
    background-color:#696969;
}

#morganfreeman {
    text-align:center;
    background-color:#696969;
}

#urmum {
    text-align:center;
    background-color:#696969;
    width:300;
}

body {
    background-color:#434343;
    color:#FFFFFF;
}
